/* src/utils/AnimatedHelperComponent.css */
.animated-helper-container {
    position: fixed;
    bottom: 20px;
    right: 75px;  /* Cambiado de left a right */
    z-index: 1000;
    display: flex;
    align-items: flex-end;
  }
  
  .helper-character {
    position: relative;
    width: 100px;
    height: 100px;
    background: url('https://cdn-icons-png.flaticon.com/512/2728/2728601.png') no-repeat center center;
    background-size: contain;
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
  }
  
  .bubble {
    position: absolute;
    bottom: 120%;
    left: 40%;
    transform: translateX(-50%);
    width: 200px;
    padding: 15px;
    background: white;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bubble p {
    margin: 7px;
  }
  
  .close-button {
    margin-top: 1px;
    background: none;  /* Sin fondo */
    color: #095fbb;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;  /* Tamaño del icono */
  }
  
  .close-button:hover {
    color: #033165;
  }
  