/* MenuComponent.css */
.menu {
  text-align: center;
}

.navbar {
  background-color: #0E1B26; /* Color de la paleta */
  overflow: hidden;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
}

.navbar li:hover {
  background-color: #1D2F40; /* Color de la paleta */
  color: white;
}

/* Nueva clase para el elemento seleccionado */
.navbar .selected {
  background-color: #496373; /* Color de la paleta */
  color: white;
}

.menu-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #7292A6; /* Color de la paleta */
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  background-color: #0E1B26; /* Color de la paleta */
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    padding: 10px 15px;
    text-align: left;
    align-self: center;
  }

  .menu-content {
    padding: 15px;
  }
}

.help-container {
  position: fixed; /* Fija el contenedor en la pantalla */
  bottom: 20px; /* Espacio desde el borde inferior de la pantalla */
  right: 20px; /* Espacio desde el borde derecho de la pantalla */
  z-index: 1000; /* Asegura que el ícono esté encima de otros elementos */
}

.help-icon {
  font-size: 32px; /* Tamaño del ícono */
  color: #007bff; /* Color del ícono */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
  transition: transform 0.3s ease, color 0.3s ease; /* Animación de transición */
}

.help-icon:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el mouse */
  color: #0056b3; /* Cambia el color al pasar el mouse */
}

.help-icon:active {
  transform: scale(1.1); /* Aumenta un poco menos el tamaño al hacer clic */
  color: #003d80; /* Cambia el color al hacer clic */
}

