.server-error {
    background-color: #ff4d4d; /* Un rojo claro */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .server-error h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .server-error p {
    font-size: 1.2rem;
  }
  