/* ProductionComponent.css */
.production-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .production-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .materia-prima {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .add-button, .submit-button, .cancel-button, .remove-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #28a745;
    color: white;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
  }
  
  .cancel-button {
    background-color: #ffc107;
    color: white;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
  }
  
  .error {
    color: #dc3545;
    font-size: 0.9em;
  }
  
  .production-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .production-table th, .production-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .production-table th {
    background-color: #007bff;
    color: white;
  }
  
  .production-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  /* Estilos para el botón de generar predicción */
.prediction-button {
  padding: 10px 20px;
  border: 2px solid #1D2F40;
  border-radius: 8px;
  background-color: #1D2F40;
  color: #FFFFFF;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.prediction-button:hover {
  background-color: #496373;
  color: #FFFFFF;
}

.loader {
  font-size: 1.2em;
  color: #1D2F40;
  text-align: center;
  margin-top: 20px;
}
